.favorites-page-container .header {
  display: flex;
  background-color: #262626;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-transform:capitalize;
  font-size: xx-large;;
  padding-left: 50px;
}

.favorites-page-container .items {
  display: grid;
  align-items: center;
  /* grid-template-columns: repeat(4, 350px);
  grid-auto-rows: minmax(50px, 550px); */
}

.favorites-page-container .login {
  display: flex;
  justify-content: center;
  margin-bottom: 390px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
}