.cart-summary-container {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  height: 250px;
  width: 300px;
  margin-top: 25px;
}

.cart-summary-container .cart-header {
  display: flex;
  justify-content: center;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  margin-top: 10px;
}

.cart-summary-container .cart-total {
  margin-top: 50px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.cart-summary-container .cart-total .subtotal{
  display: flex;
  flex-direction:row;
  margin-bottom: 10px;
  margin-left: 10px;
}


.cart-summary-container .cart-total .subtotal .price{
  margin-left: 125px
}

.cart-summary-container .cart-total .tax{
  display: flex;
  flex-direction:row;
  margin-bottom: 10px;
  margin-left: 10px;
}

.cart-summary-container .cart-total .tax .price{
  margin-left: 77px;
}

.cart-summary-container .cart-total .total{
  display: flex;
  flex-direction:row;
  margin-bottom: 50px;
  margin-left: 10px;
}

.cart-summary-container .cart-total .total .price{
  margin-left: 59px;
}

.cart-summary-container .cart-total .checkout{
  display: flex;
  margin: auto;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  width: 100px;
}
