.carousel-container {
  background:none;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 25px;
}

.carousel-container
.card {
  height: 300px;
  min-width: 20%;
  width: 20%;
  transition: 1s cubic-bezier(0.39, 0.575. 0.565, 1);
}


.carousel-container
.card:hover {
  opacity:50%;
  transition: .1s ease-out;
  cursor: pointer;
}

.carousel-container
.card
.image {
  display: flex;
  justify-content: center;
}

.carousel-container
.card
.name {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size:medium;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  text-align: center; 
  vertical-align: bottom;
  padding-top: 15px;

}