.product-info {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.product-info .image-container {
  margin-right: 50px;
}

.product-info .image-container .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: center;
}

.product-info .image-container .buttons .add-to-cart {
  background-color: #e7e7e7;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: large;
  width: 300px;
  height: 40px
}

.product-info .image-container .buttons .add-to-cart:hover {
  transform: scale(1.1);
  opacity:50%;
  transition: .1s ease-out;
  cursor: pointer;
}

.product-info .image-container .buttons .favorites {
  margin-left: 25px;
  scale: 150%;
  margin-top: 9px;

}

.product-info .image-container .buttons .favorites:hover {
  transform: scale(1.2);
  opacity:50%;
  transition: .1s ease-out;
  cursor: pointer;
}

.product-info .image-container .messages {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 75px;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}


.product-info .login {
  color: white;
  font-weight: lighter;
  font-size:large;
  font-family: 'Courier New', Courier, monospace;
  width: fit-content;
  margin-top: 25px;
}

.product-info .info {
  background-color: #262626;
  color: white;
  font-weight: lighter;
  font-size:large;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  width: 500px;
  margin-right: 25px;
  padding-left: 20px;
  padding-right: 20px;
}