.container {
  background-color:#262626;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 50px;
}


.info-section {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.info-header {
  color: white;
}


.about-section {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.about-header {
  color: white;
}

.stores-section {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.stores-header {
  color: white;
}

.customer-service-section {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.customer-service-header {
  color: white;
}

.links-section {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.account-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.footer-bottom-section {
  display: flex;
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  text-indent: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}