.footer-container {
  background-color:#262626;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 50px;
}


.footer-container .info-section {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.footer-container .info-section  .info-header {
  color: white;
}


.footer-container .about-section {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.footer-container .about-section .about-header {
  color: white;
}

.footer-container .stores-section {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.footer-container .stores-section .stores-header {
  color: white;
}

.footer-container .customer-service-section {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.footer-container .customer-service-section .customer-service-header {
  color: white;
}

.footer-container .links-section {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}


.footer-container .links-section .account-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.footer-container .footer-bottom-section {
  display: flex;
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  text-indent: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}