.collection-filter {
  background-color: #ccc;
  width: fit-content;
  margin-left: 3rem;
}
.collection-filter .collapsible {
  background-color: #262626;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 250px;
  border: none;
  text-align: left;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s ease-in-out;
}

.collection-filter .filter-group {
  margin-top: 3rem;
}
.collection-filter .filter-group h2 {
  width: 100%;
  font-weight: 500;
  font-size: large;
  padding-top: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
.collection-filter .filter-checkbox {
  margin: 10px;
}
