.collection-filter {
  background-color: #ccc;
  width: fit-content;
}
.collection-filter .collapsible {
  background-color: #262626;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 300px;
  border: none;
  text-align: left;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s ease-in-out;
}
 /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collection-filter .active, .collection-filter .collapsible:hover {
  background-color: #ccc;
}
.collection-filter .filter-group {
  margin-top: 2rem;
}
.collection-filter .filter-group h2 {
  width: 100%;
  font-weight: 500;
  font-size: large;
  padding-top: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
.collection-filter .filter-checkbox {
  margin: 12px;
}
