.account-page-container {
  margin-bottom: 159px;
}

.account-page-container .header {
  display: flex;
  flex-direction: row;
  background-color: #262626;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-transform:capitalize;
  font-size: xx-large;;
  padding-left: 50px;
  align-items: center;
}

.account-page-container .forms {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}