.navbar-container {
  display: flex;
  position: relative;
  background-color: #262626;
  width: 100%;
  padding-bottom: 50px;
}

.navbar-container .logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 260px;
  scale: 70%;
}

.navbar-container .searchbar{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
}

.navbar-container .icons {
  display: flex;
  flex-direction: row;
}

.navbar-container .icons .favorite-icon {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 75px;
}

.navbar-container .icons .shopping-icon {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}

.navbar-container .icons .account-icon {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}

.navbar-container .icons .logout-button {
  margin-top: 8px;
  margin-left: 20px;
}


.navbar-container .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position:absolute;
  bottom: 0;
  padding-bottom: 20px;
  margin-left: 700px;
}

.navbar-container .links .beer-link {
  color: white;
  font-family:'Courier New', Courier, monospace ;
  font-size: xx-large;
  margin-right: 100px;
}

.navbar-container .links .beer-link:hover {
  transform: scale(1.1);
  opacity:50%;
  transition: .1s ease-out;
  cursor: pointer;
}

.navbar-container .links .wine-link {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  margin-right: 100px;
}

.navbar-container .links .wine-link:hover {
  transform: scale(1.1);
  opacity:50%;
  transition: .1s ease-out;
  cursor: pointer;
}

.navbar-container .links .spirits-link {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
}

.navbar-container .links .spirits-link:hover {
  transform: scale(1.1);
  opacity:50%;
  transition: .1s ease-out;
  cursor: pointer;
}
